.one {
    font-size: 10px + 10px;
}

.two {
    font-size: 30px - 10px;
}

.three {
    font-size: 10px * 2;
}

.four {
    font-size: (20px / 10);
    // 슬래시는 리스트에서도 사용하기에 혼동을 줄 수 있음. 그래서 괄호를 사용하거나 변수와 함게 사용
}

.five {
    font-size: 8px % 3;
    // 나머지 값
}